export(DropoutKiller)
export(build_supercell_membership)
export(combine_gene_prior)
export(dropout_killer)
export(dropout_killer_seurat)
export(dropout_membership)
export(gene_network_from_edges)
export(gene_prior_prediction)
export(local_alra_detect)
export(local_alra_score)
export(membership_summary)
export(prepare_gene_network)
export(recover_dropout_expression)
export(run_dropout_killer)
export(select_dropout_mask)
export(validate_dropout_result)
export(weighted_neighbor_prediction)
S3method(print,DropoutKillerDetection)
S3method(print,DropoutKillerMembership)
S3method(print,DropoutKillerResult)
